streamlit
groq
pandas
requests
streamlit-autorefresh
fastapi
uvicorn
python-multipart
python-docx
json
requests
pandas
streamlit_autorefresh 
st_autorefresh
os
datetime
time
FastAPI
WebSocket
HTTPException
FileResponse
io
logging
typing
Optional
List
pydantic
BaseModel
docxtpl
DocxTemplate
fastapi.middleware.cors
CORSMiddleware
